
/* general page css */
body {
    background-color: #DFD6A7;
}

p {
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B1E3F;
}

.nav-item {
    float: left;
}

/* Tic Tac Toe page css */
.board-container {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust the column size as needed */
    gap: 1px; /* Gap between rows and columns */
}